/***Yay for css***/
@font-face {
	font-family: ourFont;
	src: url(Odin_Rounded_Bold.otf);
	font-weight: bolder;
}

#keys {
	position:relative;
	transform: translateY(25%);
	height:500px;
	width:580px;
	margin: 0 auto;
	text-align:center;
}

body {
	background-color: white;
	font-family: ourFont;
	-webkit-text-stroke: 1px black;
}

svg {
  max-height: 400px;
  margin: -3em;
}

.white-key {
	float:left;
	height:100%;
	width:80px;
	border-right:2px solid grey;
	border-bottom:2px solid grey;
	/*background-color:transparent;*/
	border-radius:10px;
}


.black-key {
	position:absolute;
	height:62%;
	width: 50px;
	border:2px solid grey;

	/*background-color:black;*/
	border-radius:2px;
}
